@charset "utf-8";
/* CSS Document */

div{
	outline:1px dashed red;
	min-height:100px;
}

div.container{
	width:950px;
	margin:0 auto;
}

div.header{
	padding:1px;
}

div.header div.logo{
	width:160px;
	min-height:140px;
	float:left;
	margin:20px 70px 10px;
	background-image:url('images/logo.jpg');
	background-repeat:no-repeat;
		
}

div.header div.menu{
	
	margin-left:300px;
	margin-top:10px;
	
}
div.menu div.top{
	min-height:25px;
	margin-top:15px;
	
	
}

div.top ul{
	list-style-type:none;
	width:620px;
	margin:0 auto;
}

div.top li{
	float:left;
}

div.top a{
	text-decoration:none;
	color:#999;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:5px 30px;
	display:block;
}


div.header div.menu div.bottom{
	min-height:130px;
}

div.bottom h5{
	padding-top:30px;
	color:#575757;
}
div.bottom p{
	color:#A0A0A0;
}
div.baner{
	min-height:310px;
	margin:0 20px;
	background-image:url('images/baner.jpg');
	background-repeat:no-repeat;
}

div.image{
	min-height:295px;
	padding:1px;
}

div.image div.limage{
	float:left;
	width:285px;
	min-height:220px;
	margin:25px 15px 20px 25px;
	background-image:url('images/limage.jpg');
	background-repeat:no-repeat;
}

div.li1{
	min-height:120px;
}

div.lit{
	color:#A0A0A0;
}


div.image div.rimage{
	float:right;
	width:285px;
	min-height:220px;
	margin:25px 35px 20px 25px;
	background-image:url('images/rimage.jpg');
	background-repeat:no-repeat;
}
 div.ri1{
	min-height:120px;
}

div.rit{
	color:#A0A0A0;
}


div.image div.mimage{
	width:295px;
	margin: 25px 320px 0px 320px;
	
	background-image:url('images/mimage.jpg');
	background-repeat:no-repeat;
}

div.mi1{
	min-height:120px;
}

div.mit{
	color:#A0A0A0;
}

div.search{
	
	padding:1px;
}

div.search div.s1{
	float:left;
	width:140px;
	min-height:155px;
	margin:25px 60px 0px 20px;
}

div.s1 h6{
	font-size:10px;
	color:#242424;
	padding-left:5px;
}

div.s1 ul{
	list-style-type:none;
}

div.s1 li{
	
}

div.s1 a{
	text-decoration:none;
	display:block;
	padding:9px 30px;
	color:#4F4F4F;
	font-size:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


div.search div.s2{
	float:left;
	width:205px;
	min-height:150px;
	margin:25px 10px 0px 30px;
}

div.s2 h6{
	font-size:10px;
	color:#242424;
	padding-left:14px;
}

div.s2 ul{
	list-style-type:none;
}

div.s2 li{
	
}

div.s2 a{
	text-decoration:none;
	display:block;
	padding:5px 30px;
	color:#4F4F4F;
	font-size:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}



div.search div.s3{
	float:left;
	width:180px;
	min-height:150px;
	margin:25px 0px 0px;
	
}

div.s3 div.hs3{
	font-size:14px;
	color:#242424;
	padding-bottom:5px;
	min-height:15px;
}

div.s3 div.is3{
	background-image:url('images/s3.jpg');
	background-repeat:no-repeat;
	min-height:150px;
}


div.search div.s4{
	width:230px;
	min-height:180px;
	margin:25px 40px 20px 680px;
	
}
div.s4 h6{
	font-size:10px;
	color:#242424;
	padding-left:14px;
}

div.s4 p{
	font-size:10px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4F4F4F;
}

div.footer{
	min-height:50px;
}

div.footer div.copy{
	float:left;
	width:280px;
	min-height:50px;
	
}
div.copy p{
	font-size:8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#4F4F4F;
	padding:20px 15px;
}

div.footer div.fmenu{
	margin-left:450px;
	min-height:50px;
	background-image:url('images/ifooter.jpg');
	background-repeat:no-repeat;
}